* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: linear-gradient(to bottom right,
            #8a3cff,
            #1e40af,
            #5b55a9);

}

.container {
    height: 70vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;

}
.heading{
    color: #a6b4f3;
}
.box {
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 3);
    color: #28325e;
    background: linear-gradient(to right, #8239ff, #eb62a0);

}

.reset-btn {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: none;
    background-color: #9333ea;
    color: aliceblue;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.new-btn {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: none;
    background-color: #9333ea;
    color: aliceblue;
}

.msg {
    font-size: 8vmin;
    color:  #a6b4f3;
}

.hide {
    display: none;
}